body {
    font-family: 'roboto', sans-serif;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

:root {
    --accent-color: #2196F3;
}

:root {
    --headline-text-color: #212121;
}

:root {
    --text-color: #757575;
}

:root {
    --secondary-color: #FFF;
}

:root {
    --section-color:#E5E5E5;
}

:root {
    --background-color: #F5F4FA;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* Logo */
.logo {
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--headline-text-color-text-color);
text-decoration: none;
}

.logo-accent {
    color: var(--accent-color);
}

/* Header */
.header {
    border: 1px solid #ECECEC;
    padding-top: 24px;
    padding-bottom: 24px;
}
.header-container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    margin-left: 93px;
}


.header-contacts-list {
    display: flex;
    margin-left: auto;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-contacts:not(:last-child) {
    margin-right: 50px;
}

.header-link,
.header-contacts-link {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--headline-text-color);
}

.header-contacts-link {
color: var(--text-color);
}

.header-link:hover,
.header-contacts-link:hover,
.header-link:focus,
.header-contacts-link:focus {
    color: var(--accent-color);
}

.header-link.current {
    color: var(--accent-color);
}

/* Main*/
.main-section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-section {
    padding-top: 200px;
    padding-bottom: 200px;
}

.main-headerline {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--secondary-color);
background: #2F303A;
padding-right: 237px;
padding-left: 237px;
}

.btn {
font-family: 'Roboto', sans-serif;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
color: var(--secondary-color);
background-color: var(--accent-color);
cursor: pointer;
}

.btn-main {
    margin-top: 30px;
    padding: 10px 32px;
    border: transparent;
    border-radius: 4px;
}

/* Concepts */
.concepts {
    padding-top: 94px;
    padding-bottom: 94px;
}

.concepts-list {
    display: flex;
}

.concepts-item {
    max-width: 270px;
}

.concepts-item:not(:last-child) {
    margin-right: 30px;
}

.concepts-header {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--headline-text-color);
margin-bottom: 10px;
}

.concepts-text {
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--text-color);
}

/* Headlines */
.headline {
font-size: 36px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.03em;
color: var(--headline-text-color);
}

/* Works */
.section-work {
    padding-bottom: 94px;
}

.work-list {
    display: flex;
    margin-top: 50px;
}

.work-img, .team-img {
    display: block;
}

.work-item:not(:last-child) {
    margin-right: 30px;
}

/* Team */
.team {
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-list {
    display: flex;
    margin-top: 50px;
}

.team-member {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-member p+p {
    margin-top: 10px;
}

.team {
    background: var(--background-color);
}

.team-item {
    background-color: var(--secondary-color);
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-person, .team-jobtitle {
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--headline-text-color);
}

.team-jobtitle {
    color: var(--text-color);
    font-weight: 400;
}

/* Footer */
.footer {
    padding-bottom: 60px;
    padding-top: 60px;
}

.footer, .main-section {
    background: #2F303A;
}

.footer-address-list > li {
    margin-top: 20px;
}

.footer-address-list li+li {
    margin-top: 9px;
}

.footer-contacts-link {
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--secondary-color);
}

.footer-contacts-link.transparent {
    color: rgba(255, 255, 255, 0.6);
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
    color: var(--accent-color);
}

.footer-logo {
    color: var(--secondary-color);
}

/* Portfolio page */
.main-portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.btn-list,
.services-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-list {
    margin-bottom: 50px;
}

.btn-menu {
    border-radius: 4px;
}

.btn-item:not(:last-child) {
    margin-right: 8px;
}

.btn-menu {
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: var(--headline-text-color);
background: var(--background-color);
cursor: pointer;
border: transparent;
padding: 6px 22px;
}

.btn-menu:hover,
.btn-menu:focus {
    color: var(--secondary-color);
    background: var(--accent-color);
}

.btn-menu.current {
    color: var(--secondary-color);
    background: var(--accent-color);  
}

.services-header {
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--headline-text-color);
}

.services-text {
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--text-color);
}

.services-list,
.section-work {
    color: var(--section-color);
}

.services-descr {
    padding: 20px 24px;
}

.services-item {
    background: var(--secondary-color);
    border: 1px solid #EEEEEE;
}

.services-item:not(:nth-child(3n)) {
    margin-right: 30px;
    margin-left: 0;
}

.services-item:not(:nth-child(-n + 3)) {
    margin-top: 30px;
}

.services-list {
    margin-right: -15px;
    margin-left: -15px;
}